.challengeBoxContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border-radius: 5px;

	text-align: center;
}

.challengeNotActive{
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 70%;

	margin-top: 0.6rem;
	padding: 3.5rem 0rem;

	background: var(--white);

	box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.challengeNotActive strong{
	width: 70%;

	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
}

.challengeNotActive p{
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 60%;

	margin-top: 0.90rem;

	font-size: 0.9rem;
	line-height: 1.4;
}

.challengeNotActive p img{
	width: 1rem;
}

.challengeActive{
	display: flex;
	flex-direction: column;

	width: 23rem;
	height: 70%;

	margin-top: 0.35rem;
	padding: 0 2rem;
	padding-top: 0.7rem;
	padding-bottom: 0.2rem;

	background: var(--white);

	box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.challengeActive header{
	padding: 0 2rem 0.3rem;

	border-bottom: 1px solid var(--gray-line);

	color: var(--blue);

	font-weight: 600;
}

.challengeActive main{
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-top: 0.4rem;
}

.challengeActive main img{
	display: none;

	width: 4rem;
}

.challengeActive main strong{
	display: none;

	margin: 0.15rem 0 0.25rem;

	color: var(--title);

	font-size: 1.25rem;
	font-weight: 600;
}

.challengeActive main p{
	width: 100%;

	margin-bottom: 0.4rem;

	font-size: 0.8rem;
	line-height: 1.5;
}

.challengeActive main h1{
	margin: 0.15rem 0 0.25rem;

	color: var(--title);

	font-size: 1.40rem;
	font-weight: 600;
}

.challengeActive main h2{
	margin: 0.15rem 0 0.25rem;

	color: var(--title);

	font-size: 1.30rem;
	font-weight: 600;
}

.challengeActive footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.challengeActive footer button{
	display: flex;
	align-items: center;
	justify-content: center;

	height: 3rem;

	border: 0;
	border-radius: 5px;

	color: var(--white);

	font-size: 1rem;
	font-weight: 600;

	transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton{
	background: var(--red);
}

.challengeActive footer button.challengeSucceededButton{
	background: var(--green);
}

.challengeActive footer button:hover{
	filter: brightness(0.9);
}

@media screen and (min-width: 666px) {
	.challengeNotActive{
		padding: 6.3rem 2rem;
	}

	.challengeNotActive strong{
		width: 90%;

		font-size: 1.40rem;
	}

	.challengeNotActive p{
		max-width: 80%;

		font-size: 1.15rem;
	}

	.challengeNotActive p img{
		width: 1.5rem;
	}

	.challengeActive{
		height: 100%;

		margin-top: 0;
		padding: 1rem 2rem;
	}

	.challengeActive header{
		padding: 0 2rem 1.5rem;

		font-size: 1.25rem;
	}

	.challengeActive main{
		margin-top: 0;
	}

	.challengeActive main img{
		display: block;

		width: 140px;

		margin-top: 10px;
	}

	.challengeActive main strong{
		display: block;
	}

	.challengeActive main p{
		width: 100%;

		margin-bottom: 10px;
		
		font-size: 1rem;
	}

	.challengeActive main h1{
		display: none;
	}

	.challengeActive main h2{
		display: none;
	}


}

@media screen and (min-width: 698px) {
	.challengeBoxContainer{
		height: 100%;

		margin-top: 0.35rem;
		margin-bottom: 0.35rem;

		background: var(--white);
		
		box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
	}

	.challengeNotActive{
		height: 100%;

		margin-top: 0;
	}

	.challengeNotActive strong{
		width: 90%;

		max-width: 100%;

		font-size: 1.5rem;
	}

	.challengeNotActive p{
		max-width: 80%;

		margin-top: 3rem;

		font-size: 1.2rem;
	}

	.challengeNotActive p img{
		width: 2rem;
	}

	.challengeActive header{
		padding: 0 2rem 1.5rem;

		font-size: 1.25rem;
	}

	.challengeActive main{
		margin-top: 0;
	}

	.challengeActive main img{
		width: 140px;
	}

	.challengeActive main p{
		width: 100%;

		margin-bottom: 10px;
		
		font-size: 1rem;
	}
}