.completedChallengesContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 1rem;
	border-bottom: 1px solid #d7d8da;

	width: 20rem;

	font-weight: 500;
}

.completedChallengesContainer span:first-child{
	font-size: 1rem;
}

.completedChallengesContainer span:last-child{
	font-size: 1.25rem;
}

@media screen and (min-width: 516px) {
	.completedChallengesContainer{
		width: 27rem;
	}
}

@media screen and (min-width: 666px) {
	.completedChallengesContainer{
		width: 100%;
	}

	.completedChallengesContainer span:first-child{
		font-size: 1.25rem;
	}

	.completedChallengesContainer span:last-child{
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 698px) {
	.completedChallengesContainer{
		margin-bottom: 0rem;
	}
}